---
//Styles
import "./_styles.scss";
---

<section class="presentation">
  <p class="greeting">Hey there! 👋</p>
  <h1>I'm Fernando Gómez</h1>
  <h3>Front End Developer</h3>
  <p>
    I’m a <strong>developer passionate</strong> about building accessible interfaces where
    meticulous design meets robust engineering. What excites me most is working
    at the intersection of design and code—crafting experiences that are not
    only visually engaging but also optimized for performance and usability.
  </p>
  <p>
    Beyond coding, I love learning new things, getting lost in a good book,
    spending time with loved ones, or unlocking the latest Brawl Stars
    characters.
  </p>
</section>
<section class="connect">
    <a href="/" target="_blank" class="btn">Let's connect!</a>
</section>
