---
//Styles
import "./_styles.scss";
---

<section class="presentation">
  <p class="greeting">Hey there! 👋</p>
  <h1>I'm Fernando Gómez</h1>
  <h3>Front End Developer</h3>
  <p>
    I’m a <strong>developer passionate</strong> about building accessible interfaces
    where meticulous design meets robust engineering. What excites me most is working
    at the intersection of design and code—crafting experiences that are not only
    visually engaging but also optimized for performance and usability.
  </p>
  <p>
    Currently, I'm a university student pursuing my degree in systems
    engineering. Once I graduate, I plan to specialize in front-end development
    and continue sharpening my skills to build even more impactful digital
    experiences
  </p>
  <p>
    In the past, I had the opportunity to work at DevPro, where I gained
    hands-on experience with tools like Angular, React JS, Jira, Trello, GitHub,
    Tailwind CSS, Sass, and more. This experience helped me strengthen my
    technical abilities and collaborate effectively in agile environments.
  </p>
  <p>
    In my free time, I enjoy many things—playing the drums, learning new skills,
    reading, gaming, and staying active through sports.
  </p>
</section>
<section class="connect">
  <a href="/" target="_blank" class="btn">Let's connect!</a>
</section>
