---
import "./styles.scss";
import Card from "../../../components/card/Card.astro";
---

<section class="section">
  <div>
    <slot />
    <h1 class="section-title">My Last Projects</h1>
    <Card />
    <Card />
    <Card />
    <Card />
  </div>
</section>
