---
import "./styles.scss";
---

<section class="section">
  <slot />
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum delectus at aliquam
  necessitatibus quam saepe, quod id veritatis accusantium laudantium soluta dignissimos
  exercitationem laboriosam optio minus animi dolorem libero? Et. Laboriosam, voluptas
  itaque! Fugit laboriosam commodi possimus voluptas odit velit iste laborum nam
  pariatur deserunt illum error obcaecati, ab earum eveniet dolorum laudantium aut
  quos, incidunt nihil officia! Quos, perferendis? Voluptate dolores deserunt reprehenderit
  impedit, libero harum quis adipisci eos neque consequatur sint aperiam, non cupiditate
  quidem minima! Totam ducimus officia repellendus praesentium expedita eveniet,
  reiciendis enim dolorum neque alias! Dolorum, est inventore quam quibusdam non
  optio beatae eveniet, ullam asperiores assumenda excepturi nihil explicabo? Rem
  recusandae ipsa voluptatum itaque consequatur laborum dignissimos minus eum omnis
  voluptate, aperiam, deleniti molestias. Error quasi officiis maiores dolores sit,
  aliquam ipsum possimus commodi corporis autem? Assumenda necessitatibus ab molestiae
  tempore nulla aut possimus cum repudiandae iure dolore, quibusdam rem nam, deserunt
  et ipsa. Fugiat assumenda cum odit molestiae? Amet debitis, quidem praesentium
  quas magnam sint quaerat vitae architecto! Culpa consequatur natus excepturi, quis
  pariatur obcaecati mollitia dicta, quo quam maxime neque cum eveniet. Optio soluta
  facilis iste. Porro, consequatur perferendis incidunt, harum provident aut maiores
  doloribus distinctio amet accusantium, nam nostrum possimus similique! Laborum
  voluptas voluptatum asperiores harum qui neque saepe! Porro, illum. Eligendi voluptates
  consectetur quae nobis tenetur accusamus facere veritatis odit voluptatibus, recusandae
  corporis sit suscipit animi exercitationem molestias qui sint aspernatur ad voluptatem
  debitis necessitatibus dolore, vitae modi. Inventore, enim. Corrupti quod iusto
  facere iure sit reprehenderit odio voluptates est molestias sed, quidem laudantium.
  Quas est dolore rem dolorem, beatae sequi voluptatibus. Doloremque vero facilis
  ullam deserunt natus quibusdam similique. Est quae amet necessitatibus possimus
  illum delectus nemo repellat, voluptatibus incidunt esse aut labore culpa tenetur
  dolore. Porro natus asperiores quibusdam! Perspiciatis distinctio suscipit, voluptate
  atque nostrum iste illo necessitatibus? Consequatur, odit dolores eligendi excepturi
  ipsam voluptatem quod impedit officiis! Fugiat ex facilis repellendus delectus
  sint dolorem. Id dignissimos consequatur velit, dicta ad culpa hic! Possimus fugiat
  corrupti perferendis recusandae? Obcaecati quis incidunt voluptatum quod vero atque
  assumenda ducimus numquam blanditiis, earum quidem ab quo necessitatibus. Dignissimos
  exercitationem expedita dolores accusantium nostrum! Dolor praesentium adipisci
  soluta facere ex. Quisquam, soluta. Ullam perferendis quam repellendus officia
  ducimus repellat aliquid provident, est perspiciatis eius animi, beatae quo quaerat
  neque assumenda odit! Error nihil facilis temporibus expedita. Libero vel similique
  delectus ex accusantium. Necessitatibus mollitia nisi, aliquam quos consequatur
  libero. Ab in accusantium nisi commodi porro ullam soluta at perferendis unde praesentium
  vel cum incidunt earum, laboriosam esse sint, pariatur consequuntur minus repudiandae.
  Asperiores sequi omnis id deleniti, ut impedit expedita magni iusto quaerat, autem
  nostrum quia odio ratione maiores eveniet, sunt animi! Tempora consequatur dolore
  ratione velit accusantium laboriosam consequuntur fuga illum! Necessitatibus accusamus
  cupiditate qui asperiores, quos hic porro vel itaque eveniet quasi pariatur omnis
  ratione dolorem distinctio optio consectetur perspiciatis voluptatibus quo sequi
  perferendis placeat exercitationem obcaecati eos culpa! Eum. Provident voluptas
  suscipit distinctio illo similique eaque sint. Earum corrupti qui atque perferendis
  libero commodi eum modi facilis ex voluptate quam, nulla ipsa cumque quaerat corporis,
  dolore repellendus necessitatibus et. Minus exercitationem nobis quidem repudiandae
  voluptatem aperiam odit illo quam, quibusdam voluptate architecto dolore eius voluptas
  dignissimos, placeat nam maxime, deserunt maiores vitae. Nobis facilis cum debitis
  totam nisi numquam? Velit libero nostrum, earum delectus molestiae praesentium
  culpa tempore id sequi autem iure, eius aut, ab dicta? Deserunt, quas! Pariatur
  voluptate laudantium illo commodi optio totam impedit, aliquam eveniet earum? Minima
  expedita, quos et nihil, laudantium sapiente, vel error explicabo consequuntur
  eveniet voluptatem fuga maxime nostrum impedit dolorem. Culpa nam quidem incidunt
  iste voluptas! Necessitatibus officia distinctio aperiam harum eveniet! Eum eligendi
  perferendis laudantium esse. Dolores, laudantium aut. Error repellendus placeat
  excepturi, sapiente voluptatum tempora. Repudiandae tempore consequatur deleniti
  iusto voluptas, ipsum nisi provident quae rerum nesciunt earum, dolore praesentium.
  Explicabo rem at debitis dolorum voluptatum pariatur sequi. Alias impedit facere
  assumenda magni, quo harum similique voluptatum? Nobis debitis iure illo? Reiciendis
  incidunt quisquam consequatur laudantium magnam, molestias sapiente obcaecati?
  Odio laboriosam totam expedita nesciunt molestiae perferendis rerum veritatis ipsam.
  Itaque modi quas, fugiat labore est omnis pariatur corrupti facere eligendi optio
  totam. Repudiandae repellat delectus ipsa. Libero, vero soluta. Nostrum, mollitia
  quasi eveniet eligendi beatae molestias modi odit aliquid quas perferendis, quidem,
  quos corporis labore non rerum doloribus? Tenetur quod quibusdam aliquam deleniti
  assumenda similique temporibus a facilis voluptatem? Aliquid ab, quod cum et quaerat
  assumenda magni nisi doloribus dolor ipsam saepe libero! Voluptatibus rerum maxime,
  eligendi fuga enim commodi necessitatibus consectetur, ut consequatur consequuntur
  molestias, obcaecati veniam? Tempora. Vel omnis recusandae reiciendis delectus
  consectetur labore atque temporibus cum earum, iure quia fugiat in, voluptates
  minus nemo consequuntur distinctio accusamus mollitia quam hic architecto aliquid
  impedit inventore. Deleniti, id. Vero ab reiciendis non nemo earum rem sit nobis
  quae. Quod, voluptate consequatur. Quis et alias vero, minus voluptates magnam
  fuga unde ipsum quibusdam repellat aspernatur illum? Distinctio, nemo voluptatibus!
  Harum est dicta cumque similique suscipit aperiam hic, ex ducimus soluta enim!
  Consequatur, voluptatibus! Qui tempore necessitatibus nam quos corrupti veritatis
  vero cumque, possimus quidem esse, ea cum hic nihil. Optio, facilis consectetur
  voluptates similique accusantium soluta accusamus error obcaecati dolorum corporis
  quibusdam unde dignissimos possimus nostrum quidem voluptate libero harum? Dolorem
  mollitia cumque nisi vel sed magni exercitationem atque. Deserunt autem sapiente
  numquam ipsum dolorum reiciendis voluptatem earum, totam quos pariatur rem! Id
  error facere ducimus necessitatibus temporibus illum autem repudiandae atque dicta,
  odit recusandae omnis earum dolores vitae. Reprehenderit voluptatem sed sint repellat
  possimus omnis, harum libero praesentium illum, facere laboriosam magni sapiente
  consequuntur ad pariatur? Dolorem animi laudantium, neque inventore omnis sint
  voluptas minima aperiam possimus voluptatum! Dignissimos temporibus quis minus!
  Voluptas nesciunt ipsum iste sapiente commodi. Error atque eum optio? Aperiam eum
  necessitatibus quae voluptates repellat consequuntur atque fugit similique maiores
  veritatis, sit aut labore modi! Facere ut quo, quasi ab quis voluptas fuga dolore
  reiciendis quos repellat quas odit est! Rem magni fugit, molestias eius praesentium
  incidunt tempora accusamus quaerat non, illo officiis perspiciatis similique! Quod
  voluptatum, ad cumque neque sed unde incidunt reprehenderit? Nesciunt fugit numquam
  vel maxime? Rem debitis quasi in doloremque inventore? A aliquam consectetur enim,
  aut quae officiis. Sapiente, non et. Expedita quibusdam nobis, adipisci ipsum voluptatum
  odit. Laboriosam ullam consequatur suscipit. Corrupti, sapiente odio dolore explicabo
  veritatis magnam provident voluptatum eos eveniet ipsa, pariatur laboriosam vitae
  obcaecati quisquam earum at. Non corporis similique ipsam iure explicabo! Rem debitis
  eaque voluptas repellat. Est totam possimus libero quasi molestias non distinctio
  ex explicabo consectetur voluptatibus ab odio debitis, odit pariatur voluptate
  voluptates. Quo, incidunt. Veniam fugit illo non doloremque assumenda nisi officia
  quidem? Commodi, nemo? Aperiam dolor reiciendis nam atque expedita, nihil vero
  quos, sint officiis et ea corrupti, commodi possimus.
</section>
