---
import "./styles.scss";
import { Image } from "astro:assets";
const Imagen = "https://astrofy-template.netlify.app/post_img.webp";
---

<div class="container-card">
  <a href="/" target="_blank">
    <div class="content-card">
      <Image src={Imagen} alt="imagen" width="208" height="117" />
      <div class="text-card">
        <h1 class="title">Project</h1>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis
          magni nobis molestiae ex minus labore sapiente illum nam cumque esse
          aspernatur quasi sunt, autem voluptatibus, nihil illo quos explicabo
          rerum.
        </p>
      </div>
    </div>
  </a>
</div>
