---
//Styles
import "./styles.scss";
import Footer from "./footer/Footer.astro";
import Header from "./header/Header.astro";
import Section from "./section/Section.astro";
---

<main class="main">
  <Header />
  <Section />
  <Footer />
</main>
