.section {
  .container-title {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: flex-start;
    h1 {
      font-family: var(--primary-font);
      color: var(--text-color);
      opacity: .75;
    }
  }
}

@media(max-width: 640px){
   .section{
    .container-title{
        justify-content: center;
    }
   }
}
