---
//Styles
import "../_styles.scss";
import "./_styles.scss";

//Components
import Card from "../../components/card/Card.astro";
---

<main class="section">
  <div class="container-title">
    <h1>My Projects</h1>
  </div>
  <Card />
  <Card />
  <Card />
</main>
