.footer {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    padding: 10px 0;
    p{
     font-family: var(--primary-font);
     font-size: 13px;
     opacity: .75;
    }
  }