.header {
  background-color: #1c2229;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 20px;
  border-bottom: 1px solid #4b4b4b18;
  min-height: 64px;

  .hamburguer {
    display: none;
    padding: 12px;
    cursor: pointer;

    &:hover {
      background-color: var(--hover-color);
      border-radius: 8px;
    }
  }

  .name {
    font-family: var(--primary-font);
    opacity: 0.75;
    display: none;
    text-decoration: none;
    color: var(--text-color);
    padding: 12px;

    &:hover {
      background-color: var(--hover-color);
      border-radius: 8px;
    }
  }

  .language-icons {
    display: flex;
    gap: 12px;

    a {
      padding: 4px;
      border-radius: 4px;
      transition: background-color 0.2s ease;
      display: block;

      &:hover {
        background: var(--hover-color);
      }

      &.active {
        background: var(--active-color);
      }
    }
  }
}
