---
import "./styles.scss";
import Aside from "./aside/Aside.astro";
import Header from "./header/Header.astro";
import Footer from "./footer/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Fernando Gómez</title>
  </head>
  <body>
    <main class="container">
      <Aside />
      <div class="main">
        <Header />
        <slot />
        <Footer />
      </div>
    </main>
  </body>
</html>
