---
import "./styles.scss";
import Aside from "./aside/Aside.astro";
import Main from "./main/Main.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="../../public/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Fernando Gómez</title>
  </head>
  <body>
    <div class="container">
      <Aside />
      <Main />
    </div>
  </body>
</html>
